body{
	background-color:rgb(225,225,225);
	font-size:1em; /*Default font size*/
}


.first{
	display:none;
}

.second{
	display:none;
}

.third{
	display:none;
}

.fourth{
	display:none;
}


#container2{
	width:100%; /*The container will try to fill the entire browser window width*/
	max-width:960px; /*the maximum width the container will grow to*/
	height:960px;
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	background-color:rgb(150,150,150);
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

  	display: grid;
  	grid-template-columns: 20% 20% 20% 20% 20%;
  	grid-template-rows: 15% 30% 35% 10% 10%;
} 

.areabox1{
	background-color:rgb(100,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-area: 1 / 1 / 2 / 6; /*row start, column start, row end, column end*/
}

.areabox2{
	background-color:rgb(100,100,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-area: 2 / 1 / 6 / 2; /*row start, column start, row end, column end*/
}

.areabox3{
	background-color:rgb(200,100,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-area: 2 / 2 / 6 / 6; /*row start, column start, row end, column end*/
}




@media all and (max-width:550px){ /*If window is less than 550px, do this*/

	body{
		background-color: rgb(50,50,50);
	}

	.first{
		display:block;
		color:rgb(225,225,225);
	}
}



@media all and (min-width:551px) and (max-width:768px){ /*If window is between 551px and 768px, do this*/

	body{
		background-color: rgb(200,200,200);
	}

	.second{
		display:block;
		color:rgb(100, 150, 200);
	}

		#container2{
	  	grid-template-columns: 100%;
	  	grid-template-rows: 20% 40% 40%;
	} 

	.areabox1{
		grid-area: 1 / 1 / 2 / 2; /*row start, column start, row end, column end*/
	}

	.areabox2{
		grid-area: 2 / 1 / 3 / 2; /*row start, column start, row end, column end*/
	}

	.areabox3{
		grid-area: 3 / 1 / 4 / 2; /*row start, column start, row end, column end*/
	}

}


@media all and (min-width:769px) and (max-width:1024px){

	body{
		background-color: rgb(150,150,150);
	}

	.third{
		display:block;
	}

	.areabox1{
		grid-area: 1 / 1 / 2 / 6; /*row start, column start, row end, column end*/
	}

	.areabox2{
		grid-area: 2 / 1 / 6 / 3; /*row start, column start, row end, column end*/
	}

	.areabox3{
		grid-area: 2 / 3 / 6 / 6; /*row start, column start, row end, column end*/
	}

}


@media all and (min-width:1025px){

	body{
		background-color: rgb(100,100,100);
	}

	.fourth{
		display:block;
		width: 700px;
		background-color: rgb(150,150,150);
		padding: 50px;
		margin: 100px auto;
	}
}

/*
@media all and (max-width:480px){

	body{
		background-color: rgb(0,0,0);
	}
}

@media all and (min-width:481px) and (max-width:500px){

	body{
		background-color: rgb(10,10,10);
	}
}

@media all and (min-width:501px) and (max-width:520px){

	body{
		background-color: rgb(20,20,20);
	}
}

@media all and (min-width:521px) and (max-width:540px){

	body{
		background-color: rgb(30,30,30);
	}
}

@media all and (min-width:541px) and (max-width:560px){

	body{
		background-color: rgb(40,40,40);
	}
}

@media all and (min-width:561px) and (max-width:580px){

	body{
		background-color: rgb(50,50,50);
	}
}

@media all and (min-width:581px) and (max-width:600px){

	body{
		background-color: rgb(60,60,60);
	}
}

@media all and (min-width:601px) and (max-width:620px){

	body{
		background-color: rgb(70,70,70);
	}
}

@media all and (min-width:621px) and (max-width:640px){

	body{
		background-color: rgb(80,80,80);
	}
}

@media all and (min-width:641px) and (max-width:660px){

	body{
		background-color: rgb(90,90,90);
	}
}

@media all and (min-width:661px) and (max-width:680px){

	body{
		background-color: rgb(100,100,100);
	}
}

@media all and (min-width:681px) and (max-width:700px){

	body{
		background-color: rgb(110,110,110);
	}
}

@media all and (min-width:701px) and (max-width:720px){

	body{
		background-color: rgb(120,120,120);
	}
}

@media all and (min-width:721px) and (max-width:740px){

	body{
		background-color: rgb(130,130,130);
	}
}

@media all and (min-width:741px) and (max-width:760px){

	body{
		background-color: rgb(140,140,140);
	}
}

@media all and (min-width:761px) and (max-width:780px){

	body{
		background-color: rgb(160,160,160);
	}
}

@media all and (min-width:781px) and (max-width:78060px){

	body{
		background-color: rgb(180,180,180);
	}
}
*/



